body
{
background-color:#f2e9ce;
font-family: 'Roboto', sans-serif;
}

.footer
{
height:40px;
width:100%;
background-color:white;
position:fixed;
bottom:0;
left:0;
text-align:center;
font-weight:bold;
}

.nav-link
    {
    color:red;
    font-weight:bold;
    }